name: CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        emacs_version:
          - 26.3
          - snapshot
    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: actions/checkout@v1
    - name: Check startup
      run: |
        sed 's,https://mirrors.cloud.tencent.com/elpa/gnu/,https://elpa.gnu.org/packages/,' init.el -i
        sed 's,https://mirrors.cloud.tencent.com/elpa/melpa/,https://melpa.org/packages/,' init.el -i
        ${EMACS:=emacs} --version
        echo "Attempting startup..."
        ${EMACS:=emacs} -nw --batch --eval '(let ((debug-on-error (>=  emacs-major-version 26)) \
        (url-show-status nil) \
        (user-emacs-directory default-directory) \
        (early-init-file (expand-file-name "early-init.el")) \
        (user-init-file (expand-file-name "init.el")) \
        (load-path (delq default-directory load-path))) \
        (when (>= emacs-major-version 27) (load-file early-init-file)) \
        (load-file user-init-file) \
        (when (>= emacs-major-version 26) \
        (run-hooks (quote after-init-hook)) \
        (run-hooks (quote emacs-startup-hook))))'
        echo "Startup successful"
